
<section class="session-new">

  <header class="page-header">
    <h1>Login</h1>
  </header>

  <div class="row">
    <div class="col-sm-6">
      <%= form_tag '/sessions' do %>
        <div class="form-group">
          <h5>Email</h5>
          <%= text_field_tag :email, nil, size:50 %>
        </div>

        <div class="form-group">
          <h5>Password</h5>
          <%= password_field_tag :password, nil, size:50 %>
        </div>

        <%= submit_tag 'Log In', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>