<section class="about page">
  <header class="page-header">
    <h1>About Us</h1>
   </header>
   <p class='description'>
      We really really really love plants. We hope you do too! Come explore the jungle with us... <%= link_to '*run into the jungle*', [:products] %>!
    </p>

</section>